

.entireDisplay{
    display: flex;
    flex-direction:column-reverse;
    justify-content: center;

}
.entireDisplay .Text{
    margin-top: 55px;
    text-align: center;
}

.entireDisplay h1, .entireDisplay h4{
    font-family: 'Josefin Sans';
}

h1{
    font-size: 75px;
    margin-top: 75px;
}

h1 .salmon{
    color: salmon;
    
}

p{
    color: salmon;
    text-align: center;
}


.entireDisplay .Text .inputStyle{
    color: salmon;
    border: 2px solid salmon;
    border-radius: 25px;
    width: 80%;
    height: 38px;
    margin-top: 25px;
    margin-bottom: 75px;
    margin-left: 17px;
}

.entireDisplay .Text .ovalShape{
    
    width: 15%;
    height: 45px;
    border-radius: 25px;
    background-color: salmon;
    border: 2px solid salmon;
    position: relative;
    left:145px;
    bottom: 119px
}

.entireDisplay .Text .ovalShape img{
    position: relative;
    left: 20px;
    bottom: 1px;
    display: table-cell; 
    text-align: center;  
    vertical-align: middle;
}

.entireDisplay .Image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}


@media (min-width:768px){

    .entireDisplay {
        flex-direction: row;
        margin: 90px 25px 90px 25px;   
    }
    
    .entireDisplay .Text{
        margin-right: 95px;
        text-align: center;
    }

    .entireDisplay .Image{
        width: 50%;
        height: 100%;
    }
    
    .entireDisplay .Image img{
        max-width: 75%;
        max-height: 90%;
        display: block;

    }

    .entireDisplay .Text .inputStyle{
        width: 80%;
        margin-left: 17px;
    }

    .entireDisplay .Text .ovalShape:hover, .entireDisplay .Text .icon:hover{
        transform: scale(1.5);
        background-color: lightpink;
        border: 2px solid lightpink;
        
    }
    .entireDisplay .Text .ovalShape{
    
        width: 15%;
        height: 45px;
        border-radius: 25px;
        background-color: salmon;
        border: 2px solid salmon;
        position: relative;
        left:-60px;
        top: 15px
    }
    
    
}